.App {
  text-align: center;
}

.LeftSidebar {
 color:red;
  height: calc(100vh - 112px);
  position: absolute;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


